@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #5a71bb;
    text-align: center;
    color: white;
    padding: 20px 0;
}

input {
    outline: none;
    padding-left: 20px;
}

h2,
button {
    text-shadow: 1px 1px 3px black;
}

button {
    cursor: pointer;
    background-color: #5a71bb;
    color: white;
    font-weight: 900;
    border: 1px solid black;
    padding: 10px;
}

button[name=limpar] {
    width: 10%;
    margin-left: 40px;
}

.lista-cadastro {
    display: flex;
    margin: 20px 0;
    padding: 0 20px;
}

.lista-cadastro input[type=text] {
    flex: 1;
    height: 40px;
}

.lista-produto-single {
    padding: 10px 0;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
}

.lista-produto-single h3 {
    flex: 1;
    padding: 0 20px;
}

h3.price-produto {
    text-align: right;
    font-size: 17px;
}

h3.price-produto>span {
    background-color: #5a71bb;
    padding: 8px 10px;
    border-radius: 20px;
    color: white;
}

.soma-produto {
    margin: 20px;
}

@media screen and (max-width: 800px) {

    .lista-cadastro {
        display: flex;
        flex-direction: column;
        margin: 20px 10px;
        padding: 20px;
    }

    .lista-cadastro input {
        height: 40px;
        margin: 10px 0;
    }

    .lista-cadastro input[type=text] {
        flex: none;
        height: 40px;
    }


}